spring:
  application:
    name: sistema-tienda
  profiles:
    active: dev

server:
  port: 8080
  servlet:
    context-path: /api

logging:
  level:
    com.tienda: DEBUG
    org.springframework.security: INFO